html {
  background-color: black;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow: hidden;
}

.App > nav {
  background-color: #222;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UIHierarchy {
  flex: 1;
}

.UIHierarchy > div > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section.view > button {
  font-size: 1em;
  padding: 1em 2em;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

section.view > button:active {
  background-color: rgba(0, 0, 0, 0.4);
}

